<div class="home-container">
    <div class="form-wrapper">
      <div class="error">
        <h1 > Hola ¿Que hace aquí?</h1>
        <h2> ¿Que busca? ( ͠° ͟ʖ ͡°)﻿ </h2>
      </div>
    </div>
  </div>
  